.pokemon-tile {
  transition: transform 0.25s ease, opacity 0.25s ease;
  user-select: none;
  will-change: transform;
  &.marked {
    background-color: #fef08a !important;
    border-color: #facc15 !important;
    transform: scale(0.95);
  }

  img {
    image-rendering: crisp-edges;
    image-rendering: pixelated;
  }
}
